<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo of Monkey Classificator</title>
	<meta name="description" content="this is a demo for monkey classification" />
  	<meta name="author" content="Tim">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="content">

        {% block content %}


        {% endblock content %}
    </div>

    <script src="static/js/bootstrap.js"></script>
</body>
</html>